# Laravel vendor, node_modules, dan environment
/vendor/
/node_modules/

# Log dan cache
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache

# Laravel environment files
.env
.env.backup
.env.production

# Laravel public dan storage
/public/build
/public/hot
/public/storage
public_html/storage
public_html/hot

# Laravel-specific
bootstrap/compiled.php
storage/*.key

# Homestead
Homestead.json
Homestead.yaml

# IDE/editor files
/.phpactor.json
/.fleet
/.idea
/.vscode
/.zed

# Vagrant files
/.vagrant
auth.json
